<%- include('header') %>
    <div class="box" id="heading">
        <h1> <%= listTitle %>  </h1>
    </div>

    <div class="box">
            <% for( let index = 0; index < newitem.length; index++ ) { %>
                    <div class="item">
                        <input type="checkbox">
                        <p><%= newitem[index] %></p>
                    </div>
                <% } %>
                <form action="/" method="post">
                    <input type="text" name="newitem" placeholder="new item" autocomplete="off" autofocus>
                    <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
    </div>
<%- include('footer') %>
